body, html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  transition: 0.5s all;
}

.lb-number {
  display: none !important;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1457px) {
  .container {
    padding: 0 15px;
  }
}

.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  color: #333333;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 26px;
    line-height: 30px;
    text-align: left;
  }
}

.btn {
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2BA472;
  border: 1px solid #2BA472;
  border-radius: 6px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn:hover {
  background: #2BA472;
  color: #ffffff;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(118, 106, 106, 0.1);
}
.header__icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2BA472;
  border-radius: 6px;
  margin-right: 10px;
}
.header__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1240px) {
  .header__item--mobile-hidden {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .header__item:last-child {
    display: none;
  }
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
@media screen and (max-width: 1000px) {
  .header__wrap {
    height: 70px;
  }
}
.header__work {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
}
.header__phone {
  text-decoration: none;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #4F4F4F;
}
@media screen and (max-width: 1000px) {
  .header__phone {
    font-size: 12px;
    line-height: 18px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-logo__num {
  font-style: normal;
  font-weight: 900;
  font-size: 53.2572px;
  line-height: 65px;
  color: #2BA472;
}
@media screen and (max-width: 1240px) {
  .header-logo__num {
    display: none;
  }
}
.header-logo__text {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin-left: 5px;
}
@media screen and (max-width: 1000px) {
  .header-logo__text {
    display: none;
  }
}
.header-logo__city {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  margin-left: 10px;
  padding-left: 10px;
}
@media screen and (max-width: 1000px) {
  .header-logo__city {
    padding-left: 0;
    margin-left: 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.banner {
  position: relative;
  padding-top: 64px;
  border-bottom: 1px solid #F2F2F2;
  min-height: 600px;
}
@media screen and (max-width: 1670px) {
  .banner {
    min-height: 533px;
  }
}
@media screen and (max-width: 1000px) {
  .banner {
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
.banner__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: #333333;
  margin: 0;
}
@media screen and (max-width: 1000px) {
  .banner__title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 10px;
  }
}
.banner__subtitle {
  margin-top: 22px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4F4F4F;
}
@media screen and (max-width: 1000px) {
  .banner__subtitle {
    font-size: 15px;
    margin-top: 14px;
    line-height: 20px;
  }
}
.banner__image {
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1457px) {
  .banner__image {
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .banner__image {
    position: static;
  }
}

@media screen and (max-width: 1670px) {
  .banner-image__link {
    width: 900px;
  }
}
@media screen and (max-width: 1457px) {
  .banner-image__link {
    width: 800px;
  }
}
@media screen and (max-width: 1240px) {
  .banner-image__link {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .banner-image__link {
    display: block;
    width: 100%;
  }
}

.banner-call {
  padding: 30px;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 20px rgba(118, 106, 106, 0.1);
  border-radius: 6px;
  max-width: 630px;
  margin-top: 40px;
}
@media screen and (max-width: 1000px) {
  .banner-call {
    margin-top: 20px;
    padding: 20px;
  }
}
.banner-call__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #4F4F4F;
}
@media screen and (max-width: 1000px) {
  .banner-call__title {
    font-size: 14px;
    line-height: 26px;
  }
}
.banner-call__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4F4F4F;
}
@media screen and (max-width: 1000px) {
  .banner-call__subtitle {
    font-size: 14px;
    line-height: 26px;
  }
}
.banner-call__form {
  display: flex;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .banner-call__form {
    flex-direction: column;
  }
}
.banner-call__input {
  width: 319px;
  height: 60px;
  padding: 0 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 6px 0 0 6px;
  outline: none;
}
@media screen and (max-width: 1000px) {
  .banner-call__input {
    font-size: 14px;
    line-height: 26px;
    width: 100%;
  }
}
.banner-call__input::placeholder {
  color: #828282;
}
.banner-call__btn {
  width: 250px;
  height: 60px;
  background: #2BA472;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  left: -3px;
}
.banner-call__btn:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1000px) {
  .banner-call__btn {
    left: 0;
    margin-top: 15px;
  }
}
.banner-call__copyright {
  font-weight: 500;
  font-size: 10px;
  line-height: 23px;
  color: #BDBDBD;
  margin-top: 13px;
}
@media screen and (max-width: 1000px) {
  .banner-call__copyright {
    line-height: 15px;
  }
}

.footer {
  background: #333333;
}
.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #BDBDBD;
}
.footer__flex a {
  color: #BDBDBD;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.footer__flex a:hover {
  border-bottom: 1px solid #BDBDBD;
}
@media screen and (max-width: 1000px) {
  .footer__flex {
    flex-direction: column;
    justify-content: center;
  }
}

.price {
  padding: 60px 0 70px;
}
@media screen and (max-width: 1000px) {
  .price {
    padding: 35px 0 50px;
  }
}
.price__wrapp {
  margin-top: 40px;
}

.price-wrapp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
@media screen and (max-width: 1000px) {
  .price-wrapp {
    grid-template-columns: 1fr;
  }
}

.price-wrapp-item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 20px rgba(118, 106, 106, 0.1);
  border-radius: 6px;
  height: 320px;
}
.price-wrapp-item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #BDBDBD;
  padding: 17px 27px;
}
.price-wrapp-item__img {
  padding: 0 27px;
  margin-bottom: 20px;
}
.price-wrapp-item__sub {
  padding: 0 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 31px;
  color: #4F4F4F;
}
.price-wrapp-item__btn {
  background: #2BA472;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  margin-top: auto;
}
.price-wrapp-item__btn:hover {
  opacity: 0.7;
}

.adv__list {
  margin-top: 40px;
}

.adv-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1000px) {
  .adv-list {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.adv-item__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2BA472;
  border-radius: 6px;
  width: 60px;
  height: 60px;
  margin: auto;
}
.adv-item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
  text-align: center;
  margin: 20px 0;
}
@media screen and (max-width: 1000px) {
  .adv-item__title {
    margin: 15px 0 5px;
  }
}
.adv-item__caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #828282;
}

.form {
  padding: 100px 0 55px;
}
.form__image {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1000px) {
  .form__image {
    position: static;
  }
}
.form__image img {
  display: block;
}
@media screen and (max-width: 1240px) {
  .form__image img {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .form__image img {
    display: block;
    width: 100%;
  }
}
.form__content {
  margin-left: auto;
  margin-right: 120px;
}
@media screen and (max-width: 1240px) {
  .form__content {
    margin-right: 0;
  }
}
.form__wrapp {
  position: relative;
  display: flex;
  height: 240px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 20px rgba(118, 106, 106, 0.1);
  border-radius: 6px;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .form__wrapp {
    flex-direction: column-reverse;
    height: auto;
  }
}

.form-content__w {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .form-content__w {
    flex-direction: column;
  }
}
.form-content__phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: #4F4F4F;
  margin-right: 20px;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .form-content__phone {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.form-content__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #4F4F4F;
  max-width: 550px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) {
  .form-content__title {
    margin: 27px auto;
    text-align: center;
  }
}
.form-content__title span {
  color: rgb(43, 164, 114);
}

.work {
  padding: 0 0 50px;
}
.work__title {
  margin-bottom: 20px;
}
.work__examples {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1000px) {
  .work__examples {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}
.work__item img {
  width: 100%;
  display: block;
}

/*# sourceMappingURL=style.css.map */
