body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  transition: 0.5s all;
}

.lb-number {
  display: none !important;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 1457px) {
    padding: 0 15px;
  }
}

.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  color: #333333;
  text-align: center;

  @media screen and (max-width: 1000px) {
    font-size: 26px;
    line-height: 30px;
    text-align: left;
  }
}

.btn {
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #f36b23;
  border: 1px solid #f36b23;
  border-radius: 6px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #f36b23;
    color: #ffffff;
  }
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(118, 106, 106, 0.1);

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f36b23;
    border-radius: 6px;
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    
    &--mobile-hidden {
      @media screen and (max-width: 1240px) {
        display: none;
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    @media screen and (max-width: 1000px) {
      height: 70px;
    }
  }

  &__work {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
  }

  &__phone {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;
    @media screen and (max-width: 1000px) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;

  &__num {
    font-style: normal;
    font-weight: 900;
    font-size: 53.2572px;
    line-height: 65px;
    color: #f36b23;
    @media screen and (max-width: 1240px) {
      display: none;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    margin-left: 5px;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__city {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    margin-left: 10px;
    padding-left: 10px;
    @media screen and (max-width: 1000px) {
      padding-left: 0;
      margin-left: 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.banner {
  position: relative;
  padding-top: 64px;
  border-bottom: 1px solid #F2F2F2;
  min-height: 600px;
  @media screen and (max-width: 1670px) {
    min-height: 533px;
  }
  @media screen and (max-width: 1000px) {
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  &__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    color: #333333;
    margin: 0;
    @media screen and (max-width: 1000px) {
      font-size: 30px;
      line-height: 37px;
      margin-top: 10px;
    }
  }

  &__subtitle {
    margin-top: 22px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #4F4F4F;

    @media screen and (max-width: 1000px) {
      font-size: 15px;
      margin-top: 14px;
      line-height: 20px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;
    @media screen and (max-width: 1457px) {
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;
    }
    @media screen and (max-width: 1000px) {
      position: static;
    }
  }
}

.banner-image {
  &__link {
    @media screen and (max-width: 1670px) {
      width: 900px;
    }
    @media screen and (max-width: 1457px) {
      width: 800px;
    }
    @media screen and (max-width: 1240px) {
      display: none;
    }
    @media screen and (max-width: 1000px) {
      display: block;
      width: 100%;
    }
  }
}

.banner-call {
  padding: 30px;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 20px rgba(118, 106, 106, 0.1);
  border-radius: 6px;
  max-width: 630px;
  margin-top: 40px;
  @media screen and (max-width: 1000px) {
    margin-top: 20px;
    padding: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #4F4F4F;
    @media screen and (max-width: 1000px) {
      font-size: 14px;
      line-height: 26px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4F4F4F;
    @media screen and (max-width: 1000px) {
      font-size: 14px;
      line-height: 26px;
    }
  }

  &__form {
    display: flex;
    margin-top: 20px;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__input {
    width: 319px;
    height: 60px;
    padding: 0 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 6px 0 0 6px;
    outline: none;
    @media screen and (max-width: 1000px) {
      font-size: 14px;
      line-height: 26px;
      width: 100%;
    }

    &::placeholder {
      color: #828282;
    }
  }

  &__btn {
    width: 250px;
    height:  60px;
    background: #f36b23;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    &:hover {
      opacity: 0.7;
    }
  }

  &__copyright {
    font-weight: 500;
    font-size: 10px;
    line-height: 23px;
    color: #BDBDBD;
    margin-top: 13px;
    @media screen and (max-width: 1000px) {
      line-height: 15px;
    }
  }
}

.footer {
  background: #333333;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #BDBDBD;

    a {
      color: #BDBDBD;
      text-decoration: none;
      border-bottom:1px solid transparent;

      &:hover {
        border-bottom:1px solid #BDBDBD;
      }
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.price {
  padding: 60px 0 70px;
  @media screen and (max-width: 1000px) {
    padding: 35px 0 50px;
  }

  &__wrapp {
    margin-top: 40px;
  }
}

.price-wrapp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.price-wrapp-item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 20px rgba(118, 106, 106, 0.1);
  border-radius: 6px;
  height: 320px;

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #BDBDBD;
    padding: 17px 27px;
  }

  &__img {
    padding: 0 27px;
    margin-bottom: 20px;
  }

  &__sub {
    padding: 0 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    color: #4F4F4F;
  }

  &__btn {
    background: #f36b23;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin-top: auto;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
}

.adv {
  &__list {
    margin-top: 40px;
  }
}

.adv-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.adv-item {
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f36b23;
    border-radius: 6px;
    width: 60px;
    height: 60px;
    margin: auto;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    text-align: center;
    margin: 20px 0;
    @media screen and (max-width: 1000px) {
      margin: 15px 0 5px;
    }
  }

  &__caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #828282;
  }
}

.form {
  padding: 100px 0 55px;

  &__image {
    position: absolute;
    bottom: 0;
    @media screen and (max-width: 1000px) {
      position: static;
    }

    img {
      display: block;
      @media screen and (max-width: 1240px) {
        display: none;
      }
      @media screen and (max-width: 1000px) {
        display: block;
        width: 100%;
      }
    }
  }

  &__content {
    margin-left: auto;
    margin-right: 120px;
    @media screen and (max-width: 1240px) {
      margin-right: 0;
    }
  }

  &__wrapp {
    position: relative;
    display: flex;
    height: 240px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 20px rgba(118, 106, 106, 0.1);
    border-radius: 6px;
    align-items: center;
    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      height: auto;
    }
  }
}

.form-content {
  &__w {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #4F4F4F;
    margin-right: 20px;
    text-decoration: none;
    @media screen and (max-width: 1000px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #4F4F4F;
    max-width: 550px;
    margin-bottom: 30px;
    @media screen and (max-width: 1000px) {
      margin: 27px auto;
      text-align: center;
    }

    span {
      color: #f36b23;
    }
  }
}

.work {
  padding: 0 0 50px;

  &__title {
    margin-bottom: 20px;
  }

  &__examples {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
    }
  }

  &__item {
    img {
      width: 100%;
      display: block;
    }
  }
}